In [1]:
print("Hello world")

Hello world

## Task 1

The standard starting task.

In [3]:
5
x = 5
x + 1

6

In [4]:
type (6)

int

In [5]:
type('woah')

str

In [6]:
type (3.3)

float

In [7]:
type('hey now', 5, 5.5)

TypeError: type.__new__() argument 2 must be tuple, not int

In [8]:
type[5]

type[5]

In [9]:
type(7.7)('hey now')

ValueError: could not convert string to float: 'hey now'

In [10]:
type(5**7)

int

In [11]:
type(-7)

int

In [12]:
type(0)

int

In [13]:
type(050)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3726497976.py, line 1)

In [14]:
type(7**-200)

float

In [15]:
type (1,000,000)

TypeError: type.__new__() argument 1 must be str, not int

In [16]:
print(1,000,000)

1 0 0

In [17]:
type(1_000_000
    )

int

In [18]:
type(float)

type

In [19]:
int 7**-200

SyntaxError: invalid syntax (1875248414.py, line 1)

In [20]:
name = ooga_booga
print(name)

NameError: name 'ooga_booga' is not defined

In [21]:
nameIsOoga = Ooga_Booga
print()

NameError: name 'Ooga_Booga' is not defined

In [22]:
type(Tom)

NameError: name 'Tom' is not defined

In [23]:
type('Tom')

str

In [24]:
type('tom')

str

In [25]:
type(Tom)

NameError: name 'Tom' is not defined

In [26]:
type(tom)

NameError: name 'tom' is not defined

In [27]:
ooga = 'woah boy'
int(ooga)

ValueError: invalid literal for int() with base 10: 'woah boy'

In [28]:
swizzleS = class_clown

NameError: name 'class_clown' is not defined

In [29]:
class

SyntaxError: invalid syntax (26457656.py, line 1)

In [30]:
myBud = Ooga
print(myBud)

NameError: name 'Ooga' is not defined

In [31]:
myBud = Ooga()
print(myBud)

NameError: name 'Ooga' is not defined

In [32]:
inp = input()
Woah now

SyntaxError: invalid syntax (3102424226.py, line 2)

In [33]:
inp = input()
print(inp
     )

hey there
hey there

In [34]:
int myBud = OogaBooga
print(myBud)

SyntaxError: invalid syntax (836286862.py, line 1)

In [35]:
int myBud = 'OogaBooga'
print(myBud)

SyntaxError: invalid syntax (2595640822.py, line 1)

In [36]:
name = input('what is your name? \n')
print(name)

what is your name?
Tony
Tony

In [37]:
wagePerHour = input(float)
enterHoursWorked = input(int)
enterhourlyWage = input(int)

<class 'float'>5.5
<class 'int'>10
<class 'int'>40

In [38]:
hoursEnter = input('hours?' float)
enterHoursWorked = input(int)
enterhourlyWage = input(int)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2474005099.py, line 1)

In [39]:
hoursEnter = input('hours?' , float)
enterHoursWorked = input(int)
enterhourlyWage = input(int)

TypeError: Kernel.raw_input() takes from 1 to 2 positional arguments but 3 were given

In [40]:
hoursEnter = input('hours?')
enterHoursWorked = input(int)
enterhourlyWage = input(int)

hours?5
<class 'int'>a
<class 'int'>s

In [41]:
hoursEnter = input('hours?')
enterHoursWorked = input('worked?')
enterhourlyWage = input('hourly wage?')

hours?5
worked?10
hourly wage?50

In [42]:
width = 17
height = 12.0
width//2

8

In [43]:
width = 17
height = 12.0
width//2
height/3
1+2*5

11

In [44]:
celsiusTemp = int(input('Yo homie, whats the current celsius temp?'))

fahrenheitTemp = CelsiusTemp 1.8 + 32

print(celsiusTemp, "This is the temperature converted yo.")

SyntaxError: invalid syntax (887776789.py, line 3)

In [45]:
celsiusTemp = int(input('Yo homie, whats the current celsius temp?'))

fahrenheitTemp = CelsiusTemp 1.8 + 32

print(celsiusTemp, "This is the temperature converted yo." , fahrenheitTemp , 'degrees')

SyntaxError: invalid syntax (2244798821.py, line 3)

In [46]:
celsiusTemp = int(input('Yo homie, whats the current celsius temp?'))

fahrenheitTemp = CelsiusTemp * 1.8 + 32

print(celsiusTemp, "This is the temperature converted yo." , fahrenheitTemp , 'degrees')

Yo homie, whats the current celsius temp?50

NameError: name 'CelsiusTemp' is not defined

In [2]:
celsiusTemp = int(input('Yo homie, whats the current celsius temp?'))

fahrenheitTemp = celsiusTemp * 1.8 + 32

print(celsiusTemp, "This is the temperature converted yo." , fahrenheitTemp , 'degrees')

Yo homie, whats the current celsius temp?23
23 This is the temperature converted yo. 73.4 degrees

In [18]:
ooga_Booga = ["flavortown" , "sweet treats" , "cupcakes" , "honeybuns"]

print(ooga_Booga)

['flavortown', 'sweet treats', 'cupcakes', 'honeybuns']

In [20]:
import random

for i in range(10):
    x = random.random()
    print(x)

0.4700096017894676
0.8886849491842821
0.8512210698300748
0.4250707274964368
0.004132794483525326
0.5024573325007831
0.27219157186860576
0.2377790627274745
0.005727320534548719
0.5655236079748618

In [27]:
def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print('I sleep all night and I work all day.')
    
def repeat_lyrics():
    print_lyrics()
    print_lyrics()

repeat_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [26]:
repeat_lyrics()

def repeat_lyrics():
    print_lyrics()
    print_lyrics()

def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print('I sleep all night and I work all day.')

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [37]:
x = addthree(4, 4, 5)
print(x)

13

In [31]:
def addtwo(a, b):
    added = a + b
    return added

x = addtwo(3, 5)
print(x)

8

In [33]:
def addthree(w,e,r):
    added_Up = w + e + r
    return added_Up

g = addthree(1,4,5)
print(g)

10

In [40]:
def fred():
   print("Zap")

def jane():
   print("ABC")

jane()
fred()
jane()